!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    </head>
    <body>

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/home" class="navbar-brand" style="padding:0"><img src="{% static 'img/logo.jpg' %}" class="img-circle" height="50px" width="50px"></a>
                </div>
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="{{ is_home_active }}"><a href="/home"><span class="glyphicon glyphicon-home"></span> 主页 </a></li>
                        <li class="{{ is_case_active }}"><a href="/case"><span class="glyphicon glyphicon-gift"></span> 产品 </a></li>
                        <li class="{{ is_about_active }}"><a href="/about"><span class="glyphicon glyphicon-question-sign"></span> 关于 </a></li>
                    </ul>
                </div>
            </div>
        </nav>

        {% block content %}

        {% endblock %}

        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>
