{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Case {% endblock %}

{% block content %}

<div class="jumbotron"  style="background:#1976D3; color:#CCC;">
    <div class="container" >
        <h2> 产品应用 </h2>
        <p>
            成功产品案例……
        </p>
    </div>
</div>

<div class="container" >
    <h1 class="text-center"> 产品宣传 </h1>
    <br>
    <hr>
    <!--<div class="row">-->
        <div class="col-md-4">
            <h4 class="text-center"> 无人机 </h4>
            <div class="embed-reponsive embed-reponsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/io1QN-jVNj0"></iframe>
            </div>
        </div>
        <div class="col-md-4">
            <h4 class="text-center"> 3D打印机 </h4>
            <div class="embed-reponsive embed-reponsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A2NNVVBZI7A"></iframe>
            </div>
        </div>
        <div class="col-md-4">
            <h4 class="text-center"> Arduino </h4>
            <div class="embed-reponsive embed-reponsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5F054MNB1QI"></iframe>
            </div>
        </div>
    <!--</div>-->
    <hr>
</div>


{% endblock %}
