{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} About {% endblock %}

{% block content %}

<div class="jumbotron"  style="background:#1976D3; color:#CCC;">
    <div class="container" >
        <h2> 关于我们 </h2>
        <p>
            一路走来，有你精彩……
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div id="history">
                <h3> ◆ 发展历程 </h3>
                <hr>
                <p>
                    吉克创客空间成立于 2012年 5月，是由XX地区一群软硬件技术人才和设计人才发起的民间非营利性组织（NGO），是中国最早成立的创客空间之一。发展至今，已成为中国最大创客组织之一，被评为江苏省省级众创空间，xx市市级NGO组织。
                    我们一直致力于推动xx地区民间科技力量和文化创新的发展，整合人才和资源优势，鼓励发明创造和技术创新，鼓励知识分享和艺术创作。我们更鼓励研发实用型产品和项目，形成知识产权和专利。
                    截至2015 年12月，我们的成员人数超过2000人，核心成员300余人。
                    成员专业方向涵盖计算机、电子、电力、建筑、设计、艺术、机械制造、管理、经济等诸多领域，成员分布全国各地，涉及在校学生、资深工程师、大学教授、设计师、知名专家等多方面人才和精英。另外，我们还拥有5000多平方米的创客活动基地，并配置了齐全的的加工和制作设备，如3D打印机、激光雕刻机、CNC机床、焊接台等，帮助创客们将自己的想法变成现实。
                </p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>

            <div id="join_us">
                <h3> ◆ 加入吉克 </h3>
                <hr>
                <p>
                    我们是一支由创客、媒体人、设计师和工程师组成的创新跨界团队。我们崇尚创新、实践、分享的创客文化。欢迎更多有个性和创意，对产品、技术、设计和艺术有独特尝试、意见和技艺的Maker加入。
                    我们坚信，未来由你创造。Let’s make it！
                </p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>

            <div id="contact_us">
                <h3> ◆ 联系方式 </h3>
                <hr>
                <p><strong>地址</strong>：xx省xx市xx区xx路xx号</p>
                <p><strong>邮编</strong>：1234567</p>
                <p><strong>电话</strong>：010-88888888</p>
                <p><strong>传真</strong>：010-666666</p>
            </div>

            <div>
                <p> <strong>您可以填写下方的表单联系我们</strong> </p>
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">Email</div>
                            <input type="email" class="form-control" placeholder="您的邮箱地址">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">Title</div>
                            <input type="text" class="form-control" placeholder="您的标题">
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea type="text" rows="3" class="form-control" placeholder="您要说的内容"></textarea>
                    </div>
                    <div class="form-group">
                        <span class="pull-right"><input type="submit" class="form-control" value="提交"></span>
                    </div>
                </form>
            </div>
            <br>
            <br>
        </div>

        <div class="col-md-3">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="list-group">
                <a href="#history" class="list-group-item"> 发展历程 </a>
                <a href="#join_us" class="list-group-item"> 加入我们 </a>
                <a href="#contact_us" class="list-group-item"> 联系方式 </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
